
@font-face {
    font-family: 'ClearSans';
    src: url('./assets/clear-sans.regular.ttf');
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container {
    max-width: 1180px;
    margin: auto;
    padding:  20px;
    box-sizing: border-box;
}
body{
    font-family: 'ClearSans',sans-serif;
}
